*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full-page{
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
   
}
.slider
{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#img1{
    width: 100%;
    height: 100%;
}
.heading h1
{
    font-size: 35px;
    text-align: center;
    color:burlywood;

}
.nvabar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    margin-top: 25px;
    margin-left:20px;
    padding:10px 10px;
}
nav ul li button{
    font-size: 20px;
    color: black;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
    padding:10px 10px;

}
nav ul li button:hover{
    background-color: whitesmoke;
    border-radius: 10px;
   
}
nav ul li a:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: palegoldenrod;
    font-size: 28px;
}
.content{
    margin-left: 34%;
    margin-top: 5%;
    width: 445px;
    height: 320px;
    position: relative;
    
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    overflow: hidden;
}


#login-form{
    display: none;
}
.form{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    overflow: hidden;

}
.button{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;

}
.nav-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #F3C693;
    border-radius: 30px;
    transition: 0.5s;
}


.input-details-login{
    top:150;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  
}
::-webkit-input-placeholder{
    color: white;
}
.input-details-register{
    top:150;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 58%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #F3C693;
    border: 0;
    outline: none;
    border-radius:30px ;
}
.span{
    color: white;
    font-size: 10px;
    bottom: 68px;
    position: absolute;
}
#login{
    left:50px;
}
#login input{
    color: white;
    font-size: 15;
}
#register{
    left:450px;
}
#register input{
    color: white;
    font-size: 15;
}
#login a{
    font-size: 12px;
    color: #777;
}

/* .wrapper.button:hover{
    width:200px;
}
.wrapper.button.icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper.button:nth-child(1)
hover.icon{background:#4267b2;}

.wrapper.button:nth-child(2)
hover.icon{background:#1da1f2;}

.wrapper.button:nth-child(3)
hover.icon{background:#a1306c;}

.wrapper.button.icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
} */
